<nav class="navbar">
  <div class="navbar--1row">
    <div class="navbar--1row--logo"></div>
    <div class="navbar--1row--title">
      Variación habitantes por secciones censales. Año 2019 vs 2022
    </div>
  </div>

  <!-- <div class="navMenu">
    <header class="header">
      <label class="menu-icon" for="menu-btn"
        ><span class="navicon"></span
      ></label>
      <ul *ngIf="!collapsed" class="menu">
        <li><a (click)="inicio()">Variación habitantes</a></li>
      </ul>
    </header>
  </div> -->
</nav>
