@import '/src/app/scss/animations';
@import '/src/app/scss/base';
@import '/src/app/scss/functions';
@import '/src/app/scss/mixins';
@import '/src/app/scss/typography';
@import '/src/app/scss/utilities';
@import '/src/app/scss/variables';

// https://javascript.plainenglish.io/5-steps-to-adding-a-sticky-footer-to-your-angular-11-application-6c185c2ed99f
.footer {
    a {
        text-decoration: none;
        color: white;
    }

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: 50px;
    background-color: map-get($OCM-colors, navBarBackground);
    &--text {
        @include OCM-text;
        font-size: 18px;
        margin-left: 10px;
    }
    &--rrss {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .logoWWW {
            @include OCM-logo;
            background: url('../../../assets/img/www.svg') no-repeat center
                center;
        }

        .logoFacebook {
            @include OCM-logo;
            background: url('../../../assets/img/facebook.svg') no-repeat center
                center;
        }

        .logoTwitter {
            @include OCM-logo;
            background: url('../../../assets/img/twitter.svg') no-repeat center
                center;
        }
    }

    &--mail {
        @include OCM-text;
        text-decoration-style: none;
        margin-right: 20px;
        font-size: 18px;

        a:hover {
            transform: scale(1.2);
        }
    }
}

@media screen and (max-width: 844px) {
    .footer {
        display: none;
    }
}
