/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.tooltipGreen {
  width: 20px;
  height: 26px;
  background-color: #52e44d;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  color: #333;
}

.tooltipRed {
  background-color: #c02a2a;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px;
  font-size: 18px;
  color: #333;
}
